@import "navbar";

#iconostravels { 
    
}

#contenedorGeneral {
    background-image: url(./imagene/toscana.jpg);
    background-size: cover;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    color: black;
    text-align: center;
}

input{ 
    width: 100%;
}

.textosBotones{ 
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.iconMenu { 
    height: 10%;
    width: 50%;
}

.menu { 
    width: 5%;
}

div p:first-child{ 
    font-size: 40px;
    margin-bottom: 0;
}

div p:last-of-type{ 
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 5px;
}

@media only screen and (max-width:650px) { 

   .menu{ 
       display: block !important;
   }

   .convertirHamburguesa {
       display: none;
    }   
}